*{
    color: #6F1A07;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #E4E9B2;
}

h1,
h2 {
    font-family: Georgia, cursive;  
}

h1 {
    text-align: center;
    font-size: 42px;
}

h2 {
    font-size: 27px;
}

a {
    color: rgb();
    font-weight: 200;
    font-size: 16px;
    text-decoration: none;
}

#intro-section,
#ingredients-section,
#steps-section {
    margin: 0 auto;
    width: 66%;
    margin-bottom: 60px;
}

.section-title {
    text-align: center;
}

#intro-section {
    text-align: center;
}

#ingredients-section {
    text-align: center;
}

#recipes-list,
#ingredients-list {
    list-style: none;
}